<div id="login-page">
	<div class="container">
		<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), :html => { class: "form-login"}) do |f| %>

			<h2 class="form-login-heading">partygps</h2>
			<%= f.error_notification %>

			<div class="login-wrap">
				<%= f.email_field :email, required: true, placeholder: "Email", class: "form-control" %><br>
				<%= f.password_field :password, required: true, placeholder: "Password", class: "form-control" %><br>
				<label class="checkbox">
	                <span class="pull-right">
	                    <a data-toggle="modal" href="login.html#myModal"> Forgot Password?</a>

	                </span>
	            </label>

				<button class="btn btn-theme btn-block" type="submit"><i class="fa fa-lock"></i> LOGIN </button>
	            <hr>
	            <div class="login-social-link centered">
	            <p>or you can sign in via your social network</p>
	                <%= link_to omniauth_authorize_path(resource_name, :facebook), class: "btn btn-facebook" do %>
	                	<i class="fa fa-facebook"></i> Facebook
	                <% end %>
	                <%= link_to omniauth_authorize_path(resource_name, :google_oauth2), class: "btn btn-google" do %>
	                	<i class="fa fa-google"></i> Google
	                <% end %><br />
	            </div>
	            <div class="registration">
	                Don't have an account yet?<br/>
	                <%= link_to "Find a party now!", register_path %>
	            </div>
			</div>
		<% end %>
	</div>
</div>